modules = ["nodejs-20", "web"]
[agent]
expertMode = true
stack = "BEST_EFFORT_FALLBACK"

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
publicDir = "dist"
run = ["npm", "run", "preview"]

[userenv]

[userenv.shared]
VITE_FIREBASE_API_KEY = "AIzaSyDPQMTVi3YHYI5TEEfMIoGGIZkgILRM7bk"
VITE_FIREBASE_AUTH_DOMAIN = "pregnancy-belt-fb490.firebaseapp.com"
VITE_FIREBASE_DATABASE_URL = "https://pregnancy-belt-fb490-default-rtdb.firebaseio.com"
VITE_FIREBASE_PROJECT_ID = "pregnancy-belt-fb490"
VITE_FIREBASE_STORAGE_BUCKET = "pregnancy-belt-fb490.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID = "621588747978"
VITE_FIREBASE_APP_ID = "1:621588747978:web:ffe72b0614bdeb82aa0633"
VITE_FIREBASE_MEASUREMENT_ID = "G-8PLZE53MH4"
GEMINI_API_KEY = "AIzaSyA47M3vHC-hPmOKwjwGWNax3R630c-7umA"
